<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atren.server.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atren.server.pojo.Product">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="category_id" property="categoryId" />
        <result column="product_title" property="productTitle" />
        <result column="product_intro" property="productIntro" />
        <result column="product_picture" property="productPicture" />
        <result column="product_price" property="productPrice" />
        <result column="product_selling_price" property="productSellingPrice" />
        <result column="product_num" property="productNum" />
        <result column="product_sales" property="productSales" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id, product_name, category_id, product_title, product_intro, product_picture, product_price, product_selling_price, product_num, product_sales
    </sql>

</mapper>
